.header {
  grid-column: 1 / 13;
  padding: 12px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #DCDCDC;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  padding-left: 12px;

  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
  }

  a:not(&__logo) {
    color: #606060;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  &__actions {
    display: flex;
    gap: 8px;
  }
}
